body {
  width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  width: 100%;
  min-height: 56px;
  background-color: #ffffff;
}
.page-header__logo {
  display: block;
  min-height: 83px;
}
.main-nav {
  background-color: #81b3d2;
}
.main-nav__button {
  position: absolute;
  display: block;
  width: 23px;
  height: 21px;
  background-color: #ffffff;
  border: none;
}
.main-nav__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-nav__list {
  display: block;
}
.site-list {
  position: relative;
}
.site-list__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item {
  padding: 7px 0 0;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}
.site-list__item-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.site-list__button {
  position: absolute;
  top: 17px;
  right: 20px;
  display: block;
  width: 23px;
  height: 22px;
  background-color: #81b3d2;
  border: none;
}
.site-list__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.page-main {
  width: 100%;
}
.page-main__logo {
  background-color: #7aa5c7;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -200px 0;
}
.page-main__logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 26.1px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.page-main__logo--index {
  position: relative;
  min-height: 390px;
}
.page-main__logo--index::before {
  content: "";
  position: absolute;
  top: 90px;
  left: 20px;
  width: 280px;
  height: 214px;
  background-image: url("../img/text-sedona-index.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.page-main__logo--inner {
  position: relative;
  min-height: 158px;
  background-position: -200px -190px;
}
.page-main__logo--inner::before {
  content: "";
  position: absolute;
  top: 52px;
  left: 45px;
  width: 229px;
  height: 38px;
  background-image: url("../img/text-sedona.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features__title {
  display: block;
  padding: 41px 21px 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.features__subtitle {
  position: relative;
  display: block;
  padding: 0 21px 0;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.features__subtitle::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 320px;
  height: 37px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.benefits-list {
  width: 280px;
  margin: 0;
  padding: 0 20px;
  background-color: #eeeeee;
  list-style: none;
}
.benefits-list__item {
  display: block;
  padding: 32px 20px;
  color: #333333;
}
.benefits-list__item:not(:last-of-type) {
  border-bottom: 1px solid #e6e6e6;
}
.benefits-list__item-title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.benefits-list__item-text {
  display: block;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}
.promo {
  background-color: #ffffff;
}
.promo__list {
  margin: 0;
  padding: 26px 18px;
  list-style: none;
}
.promo__item-title {
  padding: 14px 23px 14px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.promo__item-text {
  display: block;
  margin: 0;
  padding: o;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.attraction {
  display: block;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.attraction__content {
  background-color: #81b3d2;
}
.attraction__content--town {
  padding: 62px 27px 45px;
}
.attraction__content--bridge {
  padding: 43px 29px 41px;
}
.attraction__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.attraction__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}
.attraction__img {
  width: 100%;
  padding: 0;
  background-color: #624d44;
}
.search {
  padding: 32px 20px 49px;
}
.search__wrapper {
  padding: 0 0 40px;
}
.search__title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.search__subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.button {
  display: block;
  min-width: 190px;
  padding: 16px 25px 18px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
}
.map {
  width: 100%;
}
.footer {
  padding: 34px 85px 34px 84px;
  background-color: #ffffff;
}
.footer__title {
  display: block;
  padding: 6px 7px 40px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.copyright {
  padding: 50px 10px 0 0;
}
.copyright__content {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.photo-gallery__title {
  display: block;
  padding: 42px 25px 16px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.photo-gallery__text {
  display: block;
  padding: 16px 25px 32px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.photo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.photo-list__item {
  display: block;
  padding: 22px 20px 20px;
  border-top: 1px solid #f6f6f6;
}
.photo-list__item:last-of-type {
  border-bottom: 1px solid #f6f6f6;
}
.photo-list__item-title {
  display: block;
  margin: 0;
  padding: 20px 0 10px;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
.photo-list__item-text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.photo-list__item-number {
  display: block;
  margin: 0;
  padding: 15px 36px 0;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
.video {
  padding: 37px 0 49px;
}
.video__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.video__text {
  display: block;
  margin: 0;
  padding: 37px 30px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.video__file {
  width: 100%;
}
.video__nav {
  margin: 0 20px;
}
.video__nav--slider {
  position: relative;
  margin-top: -49px;
  padding: 22px 23px 20px 22px;
  width: 235px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.video__nav--controls {
  padding: 22px 23px 23px 25px;
  width: 232px;
  height: 21px;
  background-color: #f2f2f2;
}
.video__toggle {
  position: relative;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.video__toggle::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 36px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%;
}
.feedback {
  padding: 20px 0 47px;
}
.feedback__title {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.feedback__text {
  display: block;
  padding: 37px 20px 22px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.feedback-form__button {
  margin-left: 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.feedback-form__item {
  padding: 23px 20px 23px;
  border: none;
}
.feedback-form__item-title {
  position: relative;
  display: block;
  padding: 23px 0 21px;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.feedback-form__item-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 1px;
  background-color: #f6f6f6;
}
.name-form__text {
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.name-form__input {
  width: 192px;
  height: 58px;
  background-color: #f2f2f2;
}
.name-form__input--wider-line {
  width: 230px;
}
.contacts-form__text {
  display: block;
  padding: 0 20px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.contacts-form__input {
  padding-left: 58px;
  width: 222px;
  height: 58px;
  background-color: #f2f2f2;
}
.impression-form__text {
  display: block;
  padding: 19px 0 0 77px;
  width: 203px;
  height: 54px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}
.attraction-form__text {
  display: block;
  padding: 19px 0 0 77px;
  width: 203px;
  height: 55px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}
.emotion-form__input {
  margin-bottom: 51px;
  width: 280px;
  height: 160px;
  background-color: #f2f2f2;
}
