.attraction {
  display: block;
  .text();
  color: #ffffff;
}

.attraction__content {
  background-color: #81b3d2;

  &--town {
    padding: 62px 27px 45px;
  }

  &--bridge {
    padding: 43px 29px 41px;
  }
}

.attraction__title {
  .title();
}

.attraction__text {
  .text();
}

.attraction__img {
  width: 100%;
  padding: 0;
  background-color: #624d44;
}

@media (min-width: 768px) {
  .attraction {
    display: flex;

    &--reverse-order {
      flex-direction: row-reverse;
    }
  }
}
