.attraction-form__wrapper {
  margin-bottom: -16px;
  padding: 0 20px;
}

.attraction-form__text {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px 0 0 77px;
  height: 55px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: left;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -2px;
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
}

.attraction-form__input:checked + .attraction-form__text::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 15px;
  width: 24px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.attraction-form__input:hover + .attraction-form__text::before,
.attraction-form__input:focus + .attraction-form__text::before {
  background-color: #e5e5e5;
}

.attraction-form__input:active + .attraction-form__text::before {
  background-color: #d5d5d5;
}

@media (min-width: 768px) {
  .attraction-form {
    order: 3;
    margin: 23px 0 0;
  }

  .attraction-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 34px 31px 29px 97px;
  }

  .attraction-form__wrapper-item {
    width: 50%;
    padding-bottom: 7px;
  }
}

@media (min-width: 1200px) {
  .attraction-form {
    min-width: 960px;
    margin-top: 12px;
  }

  .attraction-form__wrapper {
    width: 100%;
    padding: 42px 0 26px 2px;
  }

  .attraction-form__wrapper-item {
    width: 25%;

    &:nth-of-type(3) {
      margin-right: -20px;
    }

    &:last-of-type {
      margin-right: -35px;
    }
  }
}
