.attraction {
  display: block;
  .text();
  color: #ffffff;
}

.attraction__content {
  background-color: #81b3d2;

  &--town {
    padding: 60px 27px 24px;
  }

  &--bridge {
    padding: 23px 29px 21px;
  }
}

.attraction__title {
  display: block;
  margin: 0;
  padding: 16px 0 10px;
  .title();
}

.attraction__text {
  display: block;
  margin: 0;
  padding: 0 0 16px;
  .text();
}

.attraction__img {
  width: 320px;
  height: 260px;
  padding: 0;
  background-color: #624d44;
}

@media (min-width: 768px) {
  .attraction {
    display: flex;

    &--reverse-order {
      flex-direction: row-reverse;
    }
  }

  .attraction__content {
    width: 166px;

    &--town {
      padding: 30px 45px 24px;
    }

    &--bridge {
      padding: 30px 45px 21px;
    }
  }

  .attraction__title {
    font-size: 21px;
    line-height: 26px;
  }


  .attraction__img {
    width: 512px;
    height: 256px;
  }
}
