.benefits-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-list__item--special {
  .text-special();
  background-color: #81b3d2;
}

.benefits-list__item__number {
  .text();
}

.benefits-list__item__text {
  .text();
}

