.benefits-list {
  width: 280px;
  margin: 0;
  padding: 0 20px;
  background-color: #eeeeee;
  list-style: none;
}

.benefits-list__item {
  display: block;
  padding: 32px 20px;
  color: #333333;
}

.benefits-list__item:not(:last-of-type) {
  border-bottom: 1px solid #e6e6e6;
}

.benefits-list__item-title {
  .title();
}

.benefits-list__item-text {
  display: block;
  .text();
}
