.benefits-list {
  min-width: 280px;
  margin: 0;
  margin-top: -5px;
  padding: 0 20px 2px;
  background-color: #eeeeee;
  list-style: none;
}

.benefits-list__item {
  display: block;
  padding: 27px 15px 12px;
  color: #333333;
}

.benefits-list__item:not(:last-of-type) {
  border-bottom: 1px solid #e6e6e6;
}

.benefits-list__item-title {
  display: block;
  margin: 0;
  padding: 0 0 8px;
  .title();
}

.benefits-list__item-text {
  display: block;
  margin: 0;
  padding: 0 0 15px;
  .text();
}

@media (min-width: 768px) {
  .benefits-list {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding: 0;
  }

  .benefits-list__item {
    padding: 50px 45px 33px 48px;
  }

  .benefits-list__item-title {
    padding: 0 23px 12px;
    font-size: 21px;
  }

  .benefits-list__item-text {
    margin-top: -2px;
    padding: 0 0 23px;
  }

  .benefits-list__item p {
    padding-bottom: 11px;
  }
}

@media (min-width: 1200px) {
  .benefits-list {
    width: 1200px;
  }

  .benefits-list__item {
    min-width: 260px;
    min-height: 190px;
    padding: 50px 70px 20px;
  }

  .benefits-list__item-title {
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 10px;
  }

  .benefits-list__item-text {
    padding-bottom: 25px;
  }

  .benefits-list__item p {
    padding-bottom: 0;
  }
}
