.contacts-form__wrapper {
  padding: 0 20px;
  margin-bottom: 1px;
}

.contacts-form__text {
  position: relative;
  display: block;
  margin-top: -3px;
  padding: 0 20px 7px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 33px;
    right: -2px;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
  }

  &--phone {
    &::after {
      content: "";
      position: absolute;
      top: 53px;
      right: 17px;
      width: 18px;
      height: 18px;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &--email {
    &::after {
      content: "";
      position: absolute;
      top: 54px;
      right: 19px;
      width: 16px;
      height: 14px;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.contacts-form__input {
  padding-right: 63px;
  padding-left: 16px;
  margin-bottom: 15px;
  width: 189px;
  height: 48px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 4px solid transparent;
  outline: none;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
  }

  &:active {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  .contacts-form {
    order: 2;
    min-width: 648px;
    margin-top: 46px;
  }

  .contacts-form__wrapper {
    padding: 0;
    padding-top: 7px;
  }

  .contacts-form__text {
    padding: 10px 20px 7px;
    text-align: left;

    &::before {
      top: 43px;
      right: 0;
      width: 57px;
      height: 57px;
    }

    &--phone {
      &::after {
        top: 62px;
        right: 19px;
      }
    }

    &--email {
      &::after {
        top: 64px;
        right: 21px;
      }
    }
  }

  .contacts-form__input {
    width: 540px;
    padding-top: 0;
    margin-bottom: 17px;
  }
}

@media (min-width: 1200px) {
  .contacts-form {
    min-width: 960px;
    margin-top: 35px;
    margin-left: -1px;
  }

  .contacts-form__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 54px 0 20px;
  }

  .contacts-form__wrapper-item {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 400px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 57px;
      height: 57px;
      background-color: #e6e6e6;
    }
  }

  .contacts-form__text {
    padding: 0;
    padding-right: 16px;
    padding-bottom: 10px;

    &::before {
      display: none;
    }

    &--phone {
      &::after {
        top: 2px;
        left: 364px;
      }
    }

    &--email {
      &::after {
        top: 3px;
        left: 439px;
      }
    }
  }

  .contacts-form__text-invisible {
    display: none;
  }

  .contacts-form__input {
    width: 225px;
  }
}
