.contacts-form__text {
  display: block;
  padding: 0 20px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.contacts-form__input {
  padding-left: 58px;
  width: 222px;
  height: 58px;
}
