.emotion-form__input {
  width: 261px;
  min-height: 143px;
  margin: -5px 0 36px -2px;
  margin-bottom: 36px;
  padding: 15px 0 0 17px; 
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
}

@media (min-width: 768px) {
  .emotion-form {
    order: 4;
  }

  .emotion-form__input {
    min-width: 608px;
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .emotion-form__input {
    min-width: 960px;
  }
}
