.emotion-form__input {
  margin-bottom: 51px;
  width: 280px;
  height: 160px;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .emotion-form {
    order: 4;
  }

  .emotion-form__input {
    min-width: 608px;
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .emotion-form__input {
    min-width: 960px;
  }
}
