.features__title {
  position: relative;
  display: block;
  margin: 0;
  padding: 41px 31px 27px;
  .title();
  color: #000000;
  text-align: center;
}

.features__subtitle {
  position: relative;
  display: block;
  margin: 0 0 4px;
  padding: 0 21px 0;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 320px;
    height: 37px;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: 768px) {
  .features__title {
    padding: 50px 75px 27px;
    font-size: 21px;
  }

  .features__subtitle {
    margin-bottom: 49px;

    &::before {
      content: "";
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .features__title {
    padding: 50px 290px 28px;
  }

  .features__subtitle {
    margin-bottom: 50px;
  }
}
