.feedback-form__item {
  padding: 23px 20px 23px;
  border: none;
}

.feedback-form__item-title {
  display: block;
  padding: 23px 0 21px;
  margin: 0;
  .title();
  color: #000000;
  border-top: 1px solid #f6f6f6;
}
