.feedback-form__item {
  padding: 23px 20px 12px;
  border: none;
}

.feedback-form__item-title {
  position: relative;
  display: block;
  padding: 19px 0 0;
  margin: 0;
  .title();
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 320px;
    height: 1px;
    background-color: #f6f6f6;
  }
}

.feedback-form__button {
  margin-left: 20px;
  padding-left: 36px;
  padding-right: 36px;
  border: none;
  box-shadow: none;
}

.feedback-form__compulsory-input {
  display: none;
}

@media (min-width: 768px) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px 26px;
  }

  .feedback-form__item {
    padding: 0;
  }

  .feedback-form__item-title {
    font-size: 21px;

    &--center {
      padding: 20px 59px 0;
    }

    &--narrow {
      padding: 23px 150px 0;
    }

    &::before {
      content: "";
      display: none;
    }
  }

  .feedback-form__button {
    order: 5;
    min-width: 324px;
    margin-left: 0;
  }

  .feedback-form__compulsory-input {
    align-self: center;
    order: 6;
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #6c6c6c;
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
  .feedback-form {
    padding: 0 120px 31px;
  }

  .feedback-form__item-title {
    &--narrow {
      padding: 5px 340px 0;
    }

    &--center {
      padding: 20px 59px 0 34px;
    }
  }

  .feedback-form__button {
    min-width: 480px;
  }
}
