.footer {
  padding: 34px 85px 34px 84px;
  background-color: #ffffff;
}

.footer__title {
  display: block;
  padding: 6px 7px 40px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-around;
  }
}
