.impression-form__text {
  display: block;
  padding: 19px 0 0 77px;
  width: 203px;
  height: 54px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  .impression-form {
    order: 0;
    min-width: 280px;
  }
}
