.main-nav {
  position: absolute;
  top: -223px;
  left: 0;
  min-width: 320px;
  background-color: #81b3d2;
}

.main-nav__button {
  position: absolute;
  bottom: -38px;
  right: 20px;
  width: 23px;
  height: 21px;
  background-color: #ffffff;
  border: none;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 21px;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.main-nav__list {
  display: block;
}

@media (min-width: 768px) {
  .main-nav {
    position: static;
    margin-bottom: 8px;
  }

  .main-nav__button {
    display: none;
  }
}
