.name-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.name-form__wrapper-item {
  min-width: 285px;
  margin: 0 0 17px;
}

.name-form__text {
  padding-right: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  text-transform: uppercase;
}

.name-form__input {
  width: 171px;
  height: 56px;
  padding-left: 21px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;

  &--wider-line {
    width: 209px;
  }
}

@media (min-width: 768px) {
  .name-form {
    order: 1;
    min-width: 280px;
  }
}
