.page-header {
  min-height: 56px;
  background-color: #ffffff;
}

.page-header__logo {
  margin: 0 auto;
}

.page-header__logo-image {
  background-color: #23a9e1;
  background-image: url("logo-sedona-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}