.page-main__logo-wrapper {
  position: relative;
  width: auto;
  background-color: #7aa5c7;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -200px 0;
}

.page-main__logo {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 26.1px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--index {
    position: relative;
    min-height: 390px;
  }

  &--index::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 20px;
    width: 280px;
    height: 214px;
    background-image: url("../img/text-sedona-index.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--inner {
    position: relative;
    height: 158px;
    background-position: -200px -190px;
  }

  &--inner::before {
    content: "";
    position: absolute;
    top: 52px;
    left: 45px;
    width: 229px;
    height: 38px;
    background-image: url("../img/text-sedona.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: 768px) {
  .page-main__logo-wrapper {
    &--index {
      min-height: 518px;
    }

    &--inner {
      min-height: 290px;
    }
  }

  .page-main__logo {
    margin: 0 auto;

    &--index {
      width: 545px;
    }

    &--index::before {
      content: "";
      position: absolute;
      top: 77px;
      left: 0;
      width: 351px;
      height: 460px;
      background-image: url("../img/text-sedona-index.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &--inner {
      width: 465px;
    }
  }
}

@media (min-width: 1200px) {
  .page-main__logo-wrapper {
    &--index {
      width: 800px;
    }
  }
}
