.photo-gallery__title {
  display: block;
  padding: 24px 25px 10px;
  .title();
  color: #000000;
}

.photo-gallery__text {
  display: block;
  padding: 0 25px 13px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .photo-gallery {
    padding: 0 60px;
  }

  .photo-gallery__title {
    padding-top: 50px;
    padding-bottom: 7px;
    font-size: 30px;
  }

  .photo-gallery__text {
    padding: 0 110px 53px;
  }
}

@media (min-width: 1200px) {
  .photo-gallery {
    padding: 0;
  }
}
