.photo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-list__item {
  display: block;
  padding: 22px 20px 17px;
  border-top: 1px solid #f6f6f6;

  &:last-of-type {
    border-bottom: 1px solid #f6f6f6;
  }
}

.photo-list__img {
  width: 280px;
  height: 280px;
}

.photo-list__item-title {
  display: block;
  margin: 0;
  padding: 11px 0 0;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.photo-list__item-text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.photo-list__wrapper-item {

  &--like {
    position: relative;
  }
}

.photo-list__like {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 22px;
  height: 20px;
  fill: #b2b2b2;
}

.photo-list__item-number {
  position: relative;
  display: block;
  margin: 0;
  padding: 8px 36px 0;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
  }

  .photo-list__item {
    padding: 0;
  }

  .photo-list__img {
    width: 324px;
    height: 267px;

    &--main {
      width: 648px;
      height: 400px;
    }
  }

  .photo-list__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    padding: 6px 0 15px 19px;
    background-color: #f2f2f2;

    &--north {
      background-color: #eaeaea;
      padding: 5px 7px 16px 21px;
    }
  }

  .photo-list__like {
    bottom: 3px;
    left: 4px;
  }

  .photo-list__item-number {
    padding: 12px 30px 0 36px;

    &::before {
      top: 11px;
      left: 4px;
    }

    &--main {
      padding: 12px 22px 0 36px;

      &::before {
        top: 11px;
        left: 5px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .photo-list__item {
    position: relative;
    min-width: 400px;
  }

  .photo-list__img {
    width: 400px;
    margin-top: -5px;

    &--main {
      width: 1200px;
      margin-top: 0;
    }
  }

  .photo-list__wrapper {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 381px;
    background-color: rgba(0, 0, 0, 0.6);

    &--main {
      width: 1181px;
    }
  }

  .photo-list__wrapper--north .photo-list__wrapper-item--like {
    margin-right: 10px;
  }

  .photo-list__item-title {
    color: #ffffff;
  }

  .photo-list__item-text {
    color: #ffffff;
  }

  .photo-list__like {
    bottom: 4px;
    left: 5px;
    fill: #ffffff;
  }

  .photo-list__item-number {
    color: #ffffff;
  }
}
