.promo {
  background-color: #ffffff;
}

.promo__list {
  margin: 0;
  padding: 26px 18px 10px;
  list-style: none;
}

.promo__item-title {
  position: relative;
  display: block;
  margin: 0;
  padding: 2px 0 14px 51px;
  .title();
  color: #000000;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 3px;
    width: 39px;
    height: 37px;
    background-color: #b6d3e5;
  }
}

.promo__item-text {
  display: block;
  margin: 0;
  padding: 0 10px 26px 51px;
  .text();
  color: #333333;
  text-align: left;
}

@media (min-width: 768px) {
  .promo__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .promo__item {
    padding: 57px 43px 59px 32px;

    &:nth-of-type(2) {
      order: 2;
    }

    &:last-of-type {
      order: 1;
    }
  }

  .promo__item-title {
    display: block;
    padding: 103px 0 22px;
    font-size: 21px;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 53px;
      width: 74px;
      height: 72px;
      background-color: #b6d3e5;
    }
  }

  .promo__item-text {
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .promo__item {
    min-width: 260px;
    min-height: 190px;
    padding: 57px 70px 80px;
  }

  .promo__item-title {
    &::before {
      left: 93px;
    }
  }
}
