.promo {
  background-color: #ffffff;
}

.promo__list {
  margin: 0;
  padding: 26px 18px 10px;
  list-style: none;
}

.promo__item {
  position: relative;
}

.promo__item-house {
  position: absolute;
  top: -8px;
  left: 3px;
  width: 39px;
  height: 37px;
  fill: #669ec0;
}

.promo__item-gift {
  position: absolute;
  top: -10px;
  left: 7px;
  width: 32px;
  height: 37px;
  fill: #669ec0;
}

.promo__item-burger {
  position: absolute;
  top: -8px;
  left: 1px;
  width: 39px;
  height: 43px;
  fill: #669ec0;
}

.promo__item-title {
  position: relative;
  display: block;
  margin: 0;
  padding: 2px 0 14px 51px;
  .title();
  color: #000000;
  text-align: left;
}

.promo__item-text {
  display: block;
  margin: 0;
  padding: 0 10px 26px 51px;
  .text();
  color: #333333;
  text-align: left;
}

.promo__item-text-br {
  display: none;
}

@media (min-width: 768px) {
  .promo__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-right: 15px;
  }

  .promo__item {
    padding: 57px 32px 61px 32px;

    &:nth-of-type(2) {
      order: 2;
    }

    &:last-of-type {
      order: 1;
    }
  }

  .promo__item-house {
    top: 60px;
    left: 90px;
    width: 75px;
    height: 72px;
  }

  .promo__item-gift {
    top: 57px;
    left: 77px;
    width: 63px;
    height: 75px;
  }

  .promo__item-burger {
    top: 63px;
    left: 89px;
    width: 76px;
    height: 69px;
  }

  .promo__item-title {
    display: block;
    padding: 102px 0 22px;
    font-size: 21px;

    &--house {
      padding-left: 63px;
    }

    &--burger {
      padding-left: 75px;
    }

    &--gift {
      padding-left: 25px;
    }
  }

  .promo__item-text {
    margin-top: -1px;
    padding: 0;
    text-align: center;

    &--house {
      padding-left: 16px;
      padding-right: 16px;
    }

    &--burger {
      padding-left: 18px;
      padding-right: 40px;
    }

    &--gift {
      margin-left: -7px;
    }
  }
}

@media (min-width: 1200px) {
  .promo__list {
    padding-right: 0;
  }

  .promo__item {
    min-width: 260px;
    min-height: 190px;
    padding: 55px 60px 81px;
    margin-right: 5px;

    &:nth-of-type(2) {
      margin-right: 13px;
    }
  }

  .promo__item-house {
    top: 59px;
    left: 161px;
  }

  .promo__item-gift {
    top: 57px;
    left: 160px;
  }

  .promo__item-burger {
    top: 63px;
    left: 162px;
  }

  .promo__item-title {
    padding-left: 0;
    padding-top: 104px;
    text-align: center;

    &--gift {
      padding-left: 5px;
    }

    &::before {
      left: 93px;
    }
  }

  .promo__item-text {
    margin-top: -1px;
    padding: 0;
    text-align: center;

    &--house {
      padding-left: 0;
      padding-right: 0;
    }

    &--burger {
      padding-left: 0;
      padding-right: 0;
    }

    &--gift {
      padding-left: 11px;
    }
  }

  .promo__item-text-br {
    display: block;
  }
}
