.search {
  padding: 32px 20px 49px;
}

.search__wrapper {
  padding: 0 0 40px;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.search__subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
