@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
}
