@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
  width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  body {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}
