.text() {
  font-size: 14px;
  line-hight: 21px;
  color: #333333;
  text-transform: uppercase;
}

.text-special() {
  font-size: 14px;
  line-hight: 21px;
  color: #ffffff;
  text-transform: uppercase;
}
